.panel.panel-default.mcr_cats_cont
    .panel-heading
        span.glyphicon.glyphicon-align-left
        strong  Ангилалууд

.panel.panel-default.mcr_cat_add
    .panel-heading
        span.glyphicon.glyphicon-plus
        strong  Ангилал нэмэх
    .form-group: input.form-control(type="text", placeholder="Нэр")
